# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz

# Optional: PDF nur ignorieren, wenn du PDFs nicht mitversionieren willst
# *.pdf

build/